.btn-primary{
  border: none;
  text-align: center;
  background-color: #5F0689;
  color: white;
  width:105px;
  height:40px;
  cursor: pointer;
  border-radius:10px;
  transition: ease-in-out 5s;
  :hover{
    background-color:white;
    color: #5F0689;
    transform: translateY(-2px);
  }
  
}

.btn-secondary{
  border: none;
  text-align: center;
  background-color:white;
  color: #5F0689;
  width:105px;
  height:40px;
  cursor: pointer;
  border-radius:10px;
  transition: ease-in-out 5s;
  :hover{
    background-color:#5F0689;
    color:white;
    transform: translateY(-2px);
  }
}